/* Tipografias insertadas */
@font-face {
    font-family: "Thankfull";
    src: url("../fonts/ThankfullScript.otf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "MonimerSerif";
    src: url("../fonts/MonimerSerif.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CreamyChicken";
    src: url("../fonts/CreamyChicken.otf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "CenturyGothic";
    src: url("../fonts/CenturyGothic.otf");
    font-weight: normal;
    font-style: normal;
}



/* root */
:root {
    /* fonts */
    /* los sans-serif son fuentes de letra en caso de que la principal no funcione correctamente */
    --font-family-h1: "Thankfull", sans-serif; 
    --font-family-h2: "MonimerSerif", sans-serif; 
    --font-family-h3: "CreamyChicken", sans-serif;
    --font-family-texto: "CenturyGothic", Arial, sans-serif;
    --font-family-enlace: "Comic Sans MS", sans-serif;

    /* colores */
    --color-principal: #0D0C0C;
    --color-secundario: #63798F;
    --color-acento: #CDB4DE;
    --color-enlace-visto: #63798F;
    --color-fondo: #5D5361;
    --color-fondo-header-main: #F7F6F2;
    --color-fondo-nav-aside-footer: #514C63;
    --color-minidetalles: #d7b9e8;
}



/* DISEÑO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-texto);
}

body {
    background-color: var(--color-fondo);
    color: var(--color-principal);
    font-size: 12px;
    line-height: 1.5;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 40px; 
}



/* formato header, nav, main, aside y footer */
header {
    background-color: var(--color-fondo-header-main);
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    background-color: var(--color-fondo-nav-aside-footer);
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    border-color: var(--color-minidetalles);
    border-style: solid;
    border-width: 2px;
}

.contenedor-principal {
    display: grid;
    grid-template-columns: 2.2fr 1fr;
    gap: 0px;
    margin: 0 20px;
}

.contenedor-principal main {
    background-color: var(--color-fondo-header-main);
    margin: 20px 0 20px 0;
    padding: 15px;
    border-radius: 10px;
}

aside {
    background-color: transparent;
    margin: 20px 0 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}


footer {
    background-color: var(--color-fondo-nav-aside-footer);
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}



/* formato header más explícito */
header h1 {
    font-family: var(--font-family-h1);
    color: var(--color-principal);
    font-size: 5em;
    text-align: center;
}

header img.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border-color: var(--color-minidetalles);
    border-style: solid;
    border-width: 4px;
}



/* formato nav más explícito */
nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    transition: all 0.5s ease-in-out;
}

nav ul li a {
    color: var(--color-acento);
    text-decoration: none;
}

nav ul li:hover {
    background-color: var(--color-secundario);
    border-radius: 10px;
}

nav ul li a:hover {
    padding: 10px;
    color: white;
}



/* formato main más explícito */
.seccion-main h2 {
    font-family: var(--font-family-h2);
}

.seccion-main h2 .icono-titulo {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.seccion-main h2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.seccion-main .icono-info-personal {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 10px;
}

.seccion-main .tabla-info-personal tr td {
    gap: 20px;
    padding: 8px 15px 0px 0px;
}

.tabla-info-personal {
    margin-left: 20px;
}

/* diseño de la tabla de formación académica */
#tabla-centro-estudios-tiempo .celda-centro {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.seccion-main #tabla-centro-estudios-tiempo {
    width: 100%;
    border-collapse: collapse; /* así evitamos que queden espacios doble */
    margin: 15px 0 15px 0; /* ponemos margin arriba y abajo */
}

.seccion-main #tabla-centro-estudios-tiempo th, 
.seccion-main #tabla-centro-estudios-tiempo td {
    border: 1px solid var(--color-fondo);
    padding: 12px 15px;
    text-align: left;
    vertical-align: middle; /* centramos de forma vertical */
    font-size: 0.95em;
} 

/* diseño del thead de la tabla de formación académica */
.seccion-main #tabla-centro-estudios-tiempo thead th {
    background-color: var(--color-acento);
    font-weight: 600;
    text-align: center;
}

/* alimenación específica para la columna estudios y años */
.seccion-main #tabla-centro-estudios-tiempo td:nth-child(2) {
    text-align: left;
}

.seccion-main #tabla-centro-estudios-tiempo td:nth-child(3) {
    text-align: center;
    white-space: nowrap; /* se mantiene en una misma línea */
}

/* diseño del logo de centro/formación */
.seccion-main #tabla-centro-estudios-tiempo .celda-centro  .icono-estudios-centro {
    width: 60px;
}


/* diseño más explícito de intereses */
.seccion-main ul {
    margin: 0;
    padding-left: 20px; 
}

.seccion-main #intereses ul li {
    line-height: 1.6;

}



/* formato aside más explícito */
.seccion-aside {
    background-color: var(--color-fondo-nav-aside-footer);
    padding: 20px;
    border-radius: 10px;
    border-color: var(--color-minidetalles);
    border-style: solid;
    border-width: 2px;
}

/* titulo del aside h3 */
.seccion-aside h3 {
    font-family: var(--font-family-h3);
    font-size: 1.3em;
    color: var(--color-minidetalles);
    border-bottom: 1px solid var(--color-minidetalles);
    padding-bottom: 8px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.seccion-aside h3 .icono-titulo {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

/* imágenes del aside */
.seccion-aside .imagen-github {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

/* modificación de la lista de idiomas */
.seccion-aside ol {
    margin: 0;
    padding-left: 20px; 
}

.seccion-aside ul {
    margin: 0;
    padding-left: 20px; 
}

/* estilo de cada elemento de la lista de idiomas */
.seccion-aside ol li {
    color: var(--color-acento);
    line-height: 1.6;
}

.seccion-aside ul li {
    color: var(--color-acento);
    line-height: 1.6;
}



/* botón para volver arriba */
.ir-arriba {
    display: block;
    text-align: right;
    font-size: 0.9em;
    margin-top: 15px;
}

/* enlace del botón para volver arriba */
.ir-arriba a {
    font-family: var(--font-family-enlace);
    color: var(--color-acento);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.ir-arriba a:hover {
    color: black;
}

/* diseño del enlace a github */
.link-github {
    display: flex;
    align-items: center;
    gap: 10px;
}

.link-github a {
    color: lightblue;
    transition: all 0.5s ease-in-out;
}

.link-github a:hover {
    text-decoration: none;
    color:white;
    background-color: var(--color-secundario);
    border-radius: 10px;
    padding: 5px;
}


/* diseño más explícito del footer */
footer {
    width: 100%;
    padding: 25px 20px;
    text-align: center;
}

.footer-contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.footer-contenido p {
    color: var(--color-fondo-header-main);
}

.icono-footer {
    width: 20px;
    height: auto;
    object-fit: contain;
}

